<h1>Welcome to the Car Simulator!</h1>

<form action="/car/create" method="get" id="makemodelyear_form">
  <label for="make">Make</label>
  <input type="text" name="make" id="make"/>
  <label for="modelyear">Model Year</label>
  <input type="number" name="modelyear" id="modelyear"/>
  <label for="description">Description</label>
  <textarea name="description" type="text" cols="50" id="description"></textarea>
  <button type="submit">Simulate Car</button>
</form>
